@import './_variables.scss';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 0;
}

main {
  background: #f8fafd;
  padding-bottom: 40px;
  flex: 1 1 0%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
}

.container-small {
  width: 780px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: inherit;
  color: inherit;
  padding: 0;
  border: none;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #656d76;
  border-left: 0.25em solid #d0d7de;
  margin: 0;
}